* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* PAGE TITLE */
h1 {
    text-align: center;
    margin: 20px;
}
/* /PAGE TITLE */


/* COMMON CONTAINER */
.container {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-flow: row nowrap;
}

.main-image-container {
    position: relative;
    width: calc(100% - 400px);
}

.thumbnails, #thumbnails-container {
    display: flex;
    flex-flow: column;
    flex-grow: 1; 
    position: relative;
}
/* /COMMON CONTAINER */


/* IMAGES */

#main-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}



.thumbnail {
    width: 100%;
    height: 100px;
    object-fit: cover;
    opacity: 1;
    cursor: pointer;
    border: 2px solid black;
}
/* /IMAGES */


/* TITLE E TEXT */
h2 {
    position: absolute;
    bottom: 100px;
    right: 40px;
    color: white;
    font-size: 32px;
}
/* ______________________________ */
span {
    position: absolute;
    bottom: 50px;
    right: 40px;
    color: white;
    font-size: 18px;
    text-align: end;
}
/* /TITLE E TEXT */


/*  SLIDER */
#up-arrow {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 2;
}
/* __________________________________ */
#down-arrow {
    position: absolute;
    bottom: 10px;
    right: 50%;
    z-index: 2;
}
/* ______________________________ */
.fa-solid {
    padding: 2px 4px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}
/* /SLIDER */